<div ng-hide="blocklistCtrl.domains.length">
    <p>No malicious activity detected on this page.</p>
</div>
<div ng-show="blocklistCtrl.domains.length">
    <p>The following domains have been blocked by Cymon Interceptor:</p>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th colspan="3">Blocked Domains</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="domain in blocklistCtrl.domains">
                <td>{{domain}}</td>
                <td><button ng-click="blocklistCtrl.viewDetails(domain)">Details</button><button ng-click="blocklistCtrl.addToWhitelist(domain)">Whitelist</button></td>
            </tr>
        </tbody>
    </table>
</div>