<table class="table table-striped table-responsive" ng-show="redirectCtrl.domain.length">
    <thead>
        <tr>
            <th colspan="3">Domain</th>
        </tr>
    </thead>
    <tbody>
        <tr class="odd">
            <td>{{ redirectCtrl.domain }}</td>
            <td><button class="btn btn-sm btn-default" ng-click="redirectCtrl.viewDetails()">Details</button></td>
            <td><button class="btn btn-sm btn-default" ng-click="redirectCtrl.whitelistDomain()">Whitelist</button></td>
        </tr>
    </tbody>
</table>