<form name="settingsForm" ng-submit="settingsForm.$valid && settingsCtrl.save(); settingsForm.$setPristine()" novalidate>
    <h3>Filters</h3>
    <p>Every domain in Cymon's database is associated with any number of tags. You can choose which tags you'd like to look for here. More tags mean more information from Cymon.</p>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="(key, value) in settingsCtrl.tags">
            <input id="checkbox{{key}}" type="checkbox" ng-model="settingsCtrl.tags[key]"> <label for="checkbox{{key}}">{{key}}</label>
        </li>
    </ul>

    <div>
        <span>Retrieve domains with reports within the last</span>
        <input id="days" type="number" ng-model="settingsCtrl.days" required max="3" min="1" step="1" pattern="\d*">
        <label for="days">day{{settingsCtrl.days != 1 ? 's' : ''}}</label>
    </div>

    <div>
        <span>Retrieve domains from Cymon every </span>
        <input id="retrieveInterval" type="number" ng-model="settingsCtrl.retrieveInterval" required max="24" min="1" step="1" pattern="\d*">
        <label for="days">hour{{settingsCtrl.retrieveInterval != 1 ? 's' : ''}}</label>
    </div>

    <div>
        <span>Retrieve domains from Cymon at </span>
        <input id="retrieveTime" type="number" ng-model="settingsCtrl.retrieveTime" required max="23" min="0" step="1" pattern="\d*">
        <label for="days">o'clock</label>
    </div>

    <button class="btn btn-sm btn-default" ng-disabled="settingsForm.$pristine || settingsForm.$invalid" type="submit" value="Submit">Save Settings</button>
</form>