<div ng-show="whitelistCtrl.domains.length">
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Whitelisted Domains</th>
                <th>
                    <button class="btn btn-xs btn-default" ng-disabled="whitelistCtrl.page <= 0" ng-click="whitelistCtrl.selectPage(whitelistCtrl.page-1)">&laquo Prev</button>
                    <span>{{whitelistCtrl.page+1}}/{{whitelistCtrl.lastPage+1}}</span>
                    <button class="btn btn-xs btn-default" ng-disabled="whitelistCtrl.page+1 > whitelistCtrl.lastPage" ng-click="whitelistCtrl.selectPage(whitelistCtrl.page+1)">Next &raquo</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="domain in whitelistCtrl.display">
                <td>{{ domain }}</td><td><button class="btn btn-xs btn-default" ng-click="whitelistCtrl.removeFromWhitelist(domain)">Remove</button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-sm btn-default" ng-click="whitelistCtrl.clearWhitelist()">Clear Whitelist</button>
</div>
<div ng-hide="whitelistCtrl.domains.length">
    <p>Your whitelist is empty.</p>
</div>