<!DOCTYPE html>
<html lang="en" ng-app="options" ng-csp>
    <head>
        <meta charset="utf-8">
        <title>Cymon Interceptor Options</title>
        <link rel="stylesheet" type="text/css" href="/css/angular-csp.css">
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/options.css">
        <script type="text/javascript" src="/js/plugins/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/plugins/angular.min.js"></script>
        <script type="text/javascript" src="/js/services.js"></script>
        <script type="text/javascript" src="/js/options/optionsApp.js"></script>
    </head>
    <body>
        <header>
            <img src="/images/cymon-logo-full.png" alt="Cymon Logo">
        </header>
        <main>
            <h1>Cymon Interceptor Options</h1>
            <h2>Whitelist</h2>
            <div ng-controller="WhitelistController as whitelistCtrl">
                 <div ng-hide="whitelistCtrl.domains.length">Your whitelist is empty.</div>
                <table ng-show="whitelistCtrl.domains.length">
                    <thead>
                        <tr>
                            <th>Domain</th><th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="domain in whitelistCtrl.domains" ng-class-odd="'odd'" ng-class-even="'even'">
                            <td>{{domain}}</td><td><button ng-controller="RemoveFromWhitelistButtonController as button" ng-disabled="!button.active" ng-click="button.click(domain)">{{button.buttonText}}</button></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Domain</th><th>Options</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <button ng-controller="ClearWhitelistButtonController as button" ng-disabled="!button.active" ng-click="button.click()">{{button.buttonText}}</button>
        </main>
    </body>
</html>