<!DOCTYPE html>
<html lang="en" ng-app="cymonOptions" ng-csp>
    <head>
        <meta charset="utf-8">
        <title>Cymon Interceptor Options</title>
        <link rel="stylesheet" type="text/css" href="/css/angular-csp.css">
        <script type="text/javascript" src="/js/plugins/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/plugins/angular.min.js"></script>
        <script type="text/javascript" src="/js/options.js"></script>
    </head>
    <body ng-controller="OptionsController">
        <h1>Cymon Interceptor Options</h1>
        <h2>Whitelist</h2>
        <div ng-hide="whitelist.length">Your whitelist is empty.</div>
        <table ng-show="whitelist.length">
            <thead>
                <tr>
                    <th>Domain</th><th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="domain in whitelist">
                    <td>{{domain}}</td><td><button ng-controller="RemoveFromWhitelistButtonController" ng-disabled="!active" ng-click="removeFromWhitelist(domain)">{{buttonText}}</button></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Domain</th><th>Options</th>
                </tr>
            </tfoot>
        </table>
        <button ng-controller="ClearWhitelistButtonController" ng-disabled="!active" ng-click="clearWhitelist()">{{buttonText}}</button>
    </body>
</html>