<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/js/plugins/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/popup.js"></script>
    </head>
    <body>
        <section id="description">
            <p>No malicious activity detected on this page.</p>
        </section>
        <button id="clearWhitelist">Clear Whitelist</button>
        <span id="response">&nbsp;</span>
    </body>
</html>


<!--<!DOCTYPE html>-->
<!--<html ng-app="BrowserPopup" ng-csp>-->
    <!--<head>-->
        <!--<script type="text/javascript" src="/js/plugins/jquery-1.11.3.min.js"></script>-->
        <!--<script type="text/javascript" src="/js/plugins/angular.min.js"></script>-->
        <!--<script type="text/javascript" src="/js/popup.js"></script>-->
    <!--</head>-->
    <!--<body>-->
        <!--<header><h1>Cymon Interceptor</h1></header>-->
        <!--<div ng-controller="Blocklist">-->
            <!--<table>-->
                <!--<tr ng-hide="{{Blocklist.length}}"><td>No malicious activity detected on this page.</td></tr>-->
                <!--<tr ng-show="{{Blocklist.length}}" ng-repeat="item in Blocklist">-->
                    <!--<td>{{item}}</td><td><button ng-click="Blocklist.whitelist({{$index}})">Whitelist</button></td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</div>-->
        <!--<button id="clearWhitelist">Clear Whitelist</button>-->
        <!--<span id="response">&nbsp;</span>-->
    <!--</body>-->
<!--</html>-->